<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt</title>
    <link rel="stylesheet" href="/chat/static/css/kontakt.css">
    <link rel="stylesheet" href="/chat/static/css/main.css">
</head>
<body>
    <div onclick="window.location.href = '/chat'" class="back-icon">
        <i class="fa-solid fa-arrow-left"></i>
    </div>

    <div class="toggle">
        <p class="id_btn" id="id_btn">id</p>
        <input type="checkbox" id="switch" class="switch-input">
        <label for="switch" class="switch-label"></label>
        <p class="usermane_btn" id="username_btn">username</p>
    </div>

    <form class="form" id="form">
        <input type="text" name="username" placeholder="username">
        <input type="submit" value="senden">
    </form>

    <script src="/chat/static/js/kontakt.js"></script>
</body>
</html>