<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nicht verfügbar</title>
    <link rel="stylesheet" href="/chat/static/css/main.css">
</head>
<body style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #333; margin: 0; color: #f0f0f0; font-size: 2rem;">
<div onclick="window.location.href = '/chat'" class="back-icon">
        <i class="fa-solid fa-arrow-left"></i>
</div>
<p>Die von Ihnen gesuchte Seite ist nicht verfügbar!</p>
</body>
</html>