<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/chat/static/css/login.css">
    <link rel="stylesheet" href="/chat/static/css/register.css">
    <link rel="stylesheet" href="/chat/static/css/main.css">
    <link rel="stylesheet" href="https://eddi.cowdie.com/chat/static/css/login.css">
    <link rel="stylesheet" href="https://eddi.cowdie.com/chat/static/css/register.css">
</head>

<body>

<div onclick="window.location.href = '/chat'" class="back-icon">
    <i class="fa-solid fa-arrow-left"></i>
</div>

<div class="bg-overlay"></div>
<div class="main-container">
    <div class="auth-card">
        <p class="desc">Registrierung</p>

        <form method="POST">
            <div class="input-wrapper">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="username" placeholder="maxmuster123" required>
            </div>

            <div class="input-wrapper">
                <i class="fa-solid fa-envelope"></i>
                <input type="text" name="email" placeholder="max@muster.de" required>
            </div>

            <div class="input-wrapper">
                <i class="fa-solid fa-shield-halved"></i>
                <input type="password" id="password" name="password" placeholder="passwword" maxlength="16" required>
            </div>
            <div class="input-wrapper">
                <i class="fa-solid fa-shield-halved"></i>
                <input type="password" id="password2" name="password2" placeholder="passwword wiederholen" maxlength="16" required>
            </div>

            <div class="passwordreq">
                <p id="equal"><i   id="equal-x"   class="check fa-solid fa-xmark"></i>    Passwörter stimmen überein</p>
                <p id="length"><i  id="length-x"  class="check fa-solid fa-xmark"></i>    Mindestens 8 Zeichen</p>
                <p id="updown"><i  id="updown-x"  class="check fa-solid fa-xmark"></i>    Mind. 1 Groß & Kleinbuchstabe</p>
                <p id="numbers"><i id="numbers-x" class="check fa-solid fa-xmark"></i>    Enthält Zahlen</p>
                <p id="special"><i id="special-x" class="check fa-solid fa-xmark"></i>    Enthält Sonderzeichen</p>
            </div>

            <button type="submit" id="submit" disabled class="submit-btn disabled">Register</button>
        </form>
    </div>
</div>


<script src="/chat/static/js/register.js"> </script>
<script src="/chat/static/js/main.js"> </script>
<script src="https://eddi.cowdie.com/chat/static/js/register.js"> </script>
</body>
</html>
